@font-face {
  font-family: "Alphys";
  src: url("../Fonts/alphys.otf/alphys.otf");
}

html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  /* align-items: center; */
  justify-content: center;
}

body {
  display: flex;
  width: 80%;
  align-items: center;
  font-family: Alphys;
  opacity: 1;
  flex-direction: column;
}

button {
  font-family: Alphys;
  font-size: 0.8em;
  background-color: black;
  border: 5px #fa991a solid;
  color: #fa991a;
  height: 3rem;
  width: 5rem;
  border-radius: 5px;
}

button:hover {
  border: 5px #eec213 solid;
  color: #eec213;
}

#playerImage,
#pokemonImage {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

#fightBox {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 5px #ffffff solid;
}

#pokemonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#battle {
  display: flex;
  height: 60%;
  width: 80%;
  background-image: url(../public/battlebackground.png);
  background-size: cover;
  background-position: center;
  justify-content: space-evenly;
  align-items: center;
}

#health-bar-container {
  display: flex;
  width: 200px;
  height: 30px;
  border: 4px solid #e2e2e2;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

#healthBar,
#healthBarPokemon {
  height: 100%;
  /* Default full health */
  width: 100%;
  /* Default full health */
  background-color: #ffea2e;
  /* Smooth transition when health changes */
  transition: width 0.3s ease;
}

#playerUI {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#battleDialogue {
  display: flex;
  padding: 15px;
  width: 600px;
  height: 150px;
  border: 4px solid #e2e2e2;
  line-height: 30px;
  flex-direction: column;
  justify-content: space-between;
}

#playerBattleInfo {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#healthInfo {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
  align-items: center;
}

.choice {
  margin-bottom: 10px;
}

.selected {
  color: #eec213;
}

.spellBox {
  position: relative; /* Position the info box relative to the image */
}
.spellInfo {
  font-size: 0.8em;
  width: 600px;
  position: absolute;
  bottom: 10px; /* Position the info box at the bottom of the image */
  left: 80%;
  transform: translateX(-50%); /* Center the info box */
  background-color: rgba(0, 0, 0, 0.7); /* Dark background */
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none; /* Initially hidden */
  opacity: 0; /* Start with transparency */
  transition: opacity 0.3s ease; /* Smooth fade-in transition */
}

.spellBox:hover .spellInfo {
  display: block; /* Show the info box on hover */
  opacity: 1; /* Make the info box fully visible */
}
