@font-face {
  font-family: "TitleScreen";
  src: url("../Fonts/snowdin.otf/snowdin.otf");
}

@font-face {
  font-family: "LowerText";
  src: url("../Fonts/toriel.otf/toriel.otf");
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-viewport {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: black;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "TitleScreen";
  font-size: 8rem;
  color: white;
}

h3 {
  font-family: "LowerText";
  font-size: 3.5rem;
  color: white;
}
